In [14]:
import pandas as pd

# Read the CSV files
NYT_articles = pd.read_csv('Final Cleaned Data with (Sentiment & Classification)/NYT_articles_results.csv')

NYT_articles.head()

,article_count,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,pub_date,headline,abstract,lead_paragraph,byline,section_name,web_url,source,multimedia_url
0,1,0.368058,0.601618,0.030324,-0.337734,Crude Oil,2024-01-30T13:40:11+0000,Saudi Aramco Abruptly Drops Plans to Expand Oi...,"The pullback, at the behest of the Saudi gover...",Saudi Aramco said Tuesday that it would call o...,By Stanley Reed,Business Day,https://www.nytimes.com/2024/01/30/business/sa...,The New York Times,https://www.nytimes.com/images/2024/01/30/mult...
1,2,0.166939,0.778636,0.054426,-0.112513,Crude Oil,2024-01-29T10:01:56+0000,Where Southerners Go to Fill the Tank and Feed...,Are they gas stations that serve food or resta...,New York City has its bodegas. The South has i...,By Kim Severson,Food,https://www.nytimes.com/2024/01/29/dining/sout...,The New York Times,https://www.nytimes.com/images/2024/01/31/mult...
2,3,-0.505036,0.465767,-0.029197,0.475839,Green Energy,2024-01-27T08:00:40+0000,Democrats Say Biden Hasn’t ‘Made the Case’ on ...,The president likes to talk about his climate ...,President Biden has done more than any preside...,By Lisa Friedman,Climate,https://www.nytimes.com/2024/01/27/climate/bid...,The New York Times,https://www.nytimes.com/images/2024/01/26/mult...
3,4,0.418735,0.560967,0.020298,-0.398437,Other,2024-01-24T19:59:53+0000,Shipping Costs Soar in Wake of Red Sea Attacks,Ships risking Houthi attacks must pay high ins...,"For about two months, a barrage of missile and...",By Stanley Reed,Business Day,https://www.nytimes.com/2024/01/24/business/re...,The New York Times,https://www.nytimes.com/images/2024/01/23/mult...
4,5,0.197280,0.782257,0.020464,-0.176816,Crude Oil,2024-01-24T17:59:40+0000,White House Said to Delay Decision on Enormous...,"Before deciding whether to approve it, the Ene...",The Biden administration is pausing a decision...,By Coral Davenport,Climate,https://www.nytimes.com/2024/01/24/climate/bid...,The New York Times,https://www.nytimes.com/images/2024/01/24/mult...

In [15]:
import pandas as pd

# Read the CSV files
X_articles = pd.read_csv('Final Cleaned Data with (Sentiment & Classification)/X_articles_results.csv')
X_articles['source'] = 'X'
X_articles.tail()

,tweet_count,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,tweet.created_at,tweet.user.name,tweet.user.location,tweet.user.followers_count,tweet.text,tweet.view_count,tweet.favorite_count,tweet.retweet_count,tweet.reply_count,tweet.media,source
1726,1727,0.272725,0.700648,0.026627,-0.246099,Crude Oil,2024-07-09 18:17:04+00:00,Asia Fact Check Lab,NaN,148,A claim emerged among Chinese netizens in June...,66,3,1,0,"[{'display_url': 'pic.x.com/znday8bmoj', 'expa...",X
1727,1728,0.018073,0.553974,0.427953,0.409881,Crude Oil,2024-07-09 18:28:45+00:00,House Appropriations,"Washington, DC",22922,The FY25 Interior and Environment Appropriatio...,1787,9,2,4,"[{'display_url': 'pic.x.com/hwidzcew02', 'expa...",X
1728,1729,0.462649,0.478608,0.058743,-0.403905,Other,2024-07-09 18:45:17+00:00,EIA,"Washington, DC",181421,☝️Correction: #Cryptocurrency mining. Apologie...,2245,1,0,0,NaN,X
1729,1730,0.004067,0.266414,0.729519,0.725453,Crude Oil,2024-07-09 19:46:22+00:00,GetWireless,Minnesota,693,💡100% of the top 20 U.S. oil and gas producers...,26,0,0,0,"[{'display_url': 'pic.x.com/ezsk6nc95w', 'expa...",X
1730,1731,0.048669,0.794753,0.156578,0.107909,Other,2024-07-09 19:50:02+00:00,EIA,"Washington, DC",181421,As we continue to highlight the #STEO forecast...,9149,8,3,1,NaN,X

## Creating a column just with the date, without the time so we can sort it later on.

In [16]:
# Convert 'pub_date' to datetime and create 'date' column
NYT_articles['pub_date'] = pd.to_datetime(NYT_articles['pub_date'])
NYT_articles['date'] = NYT_articles['pub_date'].dt.date
cols = list(NYT_articles.columns)
pub_date_index = cols.index('pub_date')
cols.insert(pub_date_index, cols.pop(cols.index('date')))
NYT_articles = NYT_articles[cols]


# Convert 'pub_date' to datetime and sort by 'pub_date'
NYT_articles['pub_date'] = pd.to_datetime(NYT_articles['pub_date'])
NYT_articles = NYT_articles.sort_values(by='pub_date').reset_index(drop=True)
NYT_articles.head(1)

,article_count,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,date,pub_date,headline,abstract,lead_paragraph,byline,section_name,web_url,source,multimedia_url
0,26,0.406308,0.568947,0.024745,-0.381563,Crude Oil,2024-01-05,2024-01-05 05:01:15+00:00,Red Sea Attacks Leave Tankers With Choice: Acc...,Some oil tanker traffic continues to go throug...,Attacks on commercial vessels in the Red Sea b...,By Stanley Reed,Business Day,https://www.nytimes.com/2024/01/05/business/re...,The New York Times,https://www.nytimes.com/images/2024/01/04/mult...

In [17]:
# Convert 'tweet.created_at' to datetime and create 'publish date' column
X_articles['tweet.created_at'] = pd.to_datetime(X_articles['tweet.created_at'])
X_articles['publish date'] = X_articles['tweet.created_at'].dt.date

# Rearrange the columns so that 'publish date' comes before 'tweet.created_at'
cols = list(X_articles.columns)
created_at_index = cols.index('tweet.created_at')
cols.insert(created_at_index, cols.pop(cols.index('publish date')))
X_articles = X_articles[cols]

# Convert 'tweet.created_at' to datetime and sort by 'tweet.created_at'
X_articles['tweet.created_at'] = pd.to_datetime(X_articles['tweet.created_at'])
X_articles = X_articles.sort_values(by='tweet.created_at').reset_index(drop=True)
# Add a constant column named 'source' with value 'X'




# Display the first row to verify
X_articles.head(1)

,tweet_count,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,publish date,tweet.created_at,tweet.user.name,tweet.user.location,tweet.user.followers_count,tweet.text,tweet.view_count,tweet.favorite_count,tweet.retweet_count,tweet.reply_count,tweet.media,source
0,1,0.224576,0.714257,0.061168,-0.163408,Crude Oil,2024-01-02,2024-01-02 13:10:06+00:00,EIA,"Washington, DC",181422,#TodayInEnergy - #Brent crude #oilprices avera...,20679,30,17,0,"[{'display_url': 'pic.x.com/gexe4zlndm', 'expa...",X

# Renaming Columns so that they match

In [18]:
# Rename 'pub_date' to 'date_and_time'
NYT_articles = NYT_articles.rename(columns={'pub_date': 'date_and_time'})
NYT_articles = NYT_articles.rename(columns={'headline': 'text'})
NYT_articles = NYT_articles.rename(columns={'byline': 'by'})

In [19]:
X_articles = X_articles.rename(columns={'tweet.created_at': 'date_and_time'})
X_articles = X_articles.rename(columns={'tweet.text': 'text'})
X_articles = X_articles.rename(columns={'tweet.user.name': 'by'})

## Filtering tweets with only > 2000 views

In [20]:
# Filter the dataframe to only include rows with 2000 or more views
# Filter the X_articles dataset to keep only rows where 'tweet.view_count' is >= 2000 and reset the index
X_articles_over_2000views = X_articles[X_articles['tweet.view_count'] >= 2000].reset_index(drop=True)


X_articles_over_2000views.tail(1)

,tweet_count,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,publish date,date_and_time,by,tweet.user.location,tweet.user.followers_count,text,tweet.view_count,tweet.favorite_count,tweet.retweet_count,tweet.reply_count,tweet.media,source
961,1731,0.048669,0.794753,0.156578,0.107909,Other,2024-07-09,2024-07-09 19:50:02+00:00,EIA,"Washington, DC",181421,As we continue to highlight the #STEO forecast...,9149,8,3,1,NaN,X

# Dropping not overlapping columns so that we can merge the X and NYT

In [21]:
# Drop unnecessary columns

NYT_articles = NYT_articles.drop(columns=['article_count','multimedia_url', 'web_url', 'section_name', 'lead_paragraph', 'abstract'])
NYT_articles.head(1)

,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,date,date_and_time,text,by,source
0,0.406308,0.568947,0.024745,-0.381563,Crude Oil,2024-01-05,2024-01-05 05:01:15+00:00,Red Sea Attacks Leave Tankers With Choice: Acc...,By Stanley Reed,The New York Times

In [22]:
# Drop unnecessary columns

X_articles_over_2000views = X_articles_over_2000views.drop(columns=['tweet_count','tweet.media','tweet.user.followers_count','tweet.favorite_count','tweet.retweet_count','tweet.reply_count','tweet.user.location','tweet.view_count'])
X_articles_over_2000views.head(1)

,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,publish date,date_and_time,by,text,source
0,0.224576,0.714257,0.061168,-0.163408,Crude Oil,2024-01-02,2024-01-02 13:10:06+00:00,EIA,#TodayInEnergy - #Brent crude #oilprices avera...,X

In [23]:
X_articles_over_2000views.tail(1)

,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,publish date,date_and_time,by,text,source
961,0.048669,0.794753,0.156578,0.107909,Other,2024-07-09,2024-07-09 19:50:02+00:00,EIA,As we continue to highlight the #STEO forecast...,X

In [24]:
NYT_articles.tail(1)

,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,date,date_and_time,text,by,source
148,-0.478894,0.496974,-0.024132,0.454762,Green Energy,2024-07-07,2024-07-07 19:55:06+00:00,"Officials Urge Coastal Texans to Evacuate, but...","By Edgar Sandoval, Maria Jimenez Moya and Jack...",The New York Times

# Merge the two datasets on 'publish date'

In [25]:
# Perform an inner merge on the 'publish date' column
data = pd.merge(NYT_articles, X_articles_over_2000views,how='outer')
data

,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,date,date_and_time,text,by,source,publish date
0,-0.880652,0.115160,-0.004188,0.876464,Green Energy,2024-01-14,2024-01-14 10:00:46+00:00,How This Climate Activist Justifies Political ...,By David Marchese,The New York Times,NaN
1,-0.849919,0.142928,-0.007154,0.842765,Green Energy,2024-04-26,2024-04-26 09:03:33+00:00,How Abrupt U-Turns Are Defining U.S. Environme...,By Coral Davenport,The New York Times,NaN
2,-0.728511,0.257129,-0.014361,0.714150,Green Energy,2024-03-06,2024-03-06 18:07:39+00:00,John Kerry: ‘I Feel Deeply Frustrated’,By David Wallace-Wells,The New York Times,NaN
3,-0.711491,0.272851,-0.015659,0.695832,Green Energy,NaN,2024-05-13 15:17:00+00:00,#Solarpower projects can be delayed for severa...,EIA,X,2024-05-13
4,-0.711491,0.272851,-0.015659,0.695832,Green Energy,NaN,2024-05-17 14:14:00+00:00,#Solarpower projects can be delayed for severa...,EIA,X,2024-05-17
...,...,...,...,...,...,...,...,...,...,...,...
1106,0.905403,0.089149,0.005448,-0.899955,Crude Oil,NaN,2024-04-12 22:30:00+00:00,“We are disappointed in this decision to green...,Earthjustice,X,2024-04-12
1107,0.917847,0.076852,0.005301,-0.912545,Crude Oil,2024-06-11,2024-06-11 04:01:20+00:00,Nigeria Confronts Its Worst Economic Crisis in...,"By Ruth Maclean, Ismail Auwal and Taiwo Aina",The New York Times,NaN
1108,0.922941,0.072049,0.005010,-0.917931,Crude Oil,NaN,2024-04-19 16:00:25+00:00,The Biden admin's handcuffing of U.S. oil prod...,Senator John Hoeven,X,2024-04-19
1109,0.933912,0.062640,0.003449,-0.930463,Crude Oil,NaN,2024-04-26 18:19:39+00:00,"The U.S. helped destabilize an entire region, ...",Pamphlets,X,2024-04-26
1110,0.940497,0.056135,0.003368,-0.937129,Crude Oil,NaN,2024-04-09 13:55:34+00:00,We have recently learned many of the at least ...,Tony Seruga,X,2024-04-09

In [26]:
# Save the merged DataFrame to a new CSV file
output_path = 'Merged NYT & X (>2000) views/Merged NYT & X (>2000) views.csv'
data.to_csv(output_path, index=False)

print(f"The merged DataFrame has been saved to {output_path}")

The merged DataFrame has been saved to Merged NYT & X (>2000) views/Merged NYT & X (>2000) views.csv